html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.control-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(30, 30, 30, 0.9);
    padding: 15px;
    border-radius: 10px;
    color: white;
    z-index: 1000;
    width: 250px;
}

.control-panel.collapsed {
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.control-panel.expanded {
    max-height: 500px; /* Adjust as needed */
    transition: max-height 0.3s ease-in;
}

.toggle-btn, .toggle-panel {
    background: #ff9800;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s ease;
}

.toggle-btn:hover, .toggle-panel:hover {
    background: #e68900;
}

#drop-zone {
    width: 100%;
    height: 100px;
    border: 2px dashed #888;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(30, 30, 30, 0.9);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    z-index: 1000;
}

.legend div {
    display: flex;
    align-items: left;
    margin-bottom: 5px;
}

#dynamicLegend {
    display: flex;
    flex-direction: column;
}

.color-box {
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

.traffic-stop-marker {
    font-size: 32px; /* Adjust the size as needed */
    line-height: 32px; /* Ensure the icon is centered */
}

.top-speed-marker {
    font-size: 32px; /* Adjust the size as needed */
    line-height: 32px; /* Ensure the icon is centered */
}

.chart-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(30, 30, 30, 0.9);
    padding: 15px;
    border-radius: 10px;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}